<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Direcciones</h4>
             <button class="btn btn-success" (click)="create()">Crear</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <td>Id</td>
                  <td>Usuario</td>
                  <td>Calle</td>
                  <td>Número</td>
                  <td>Latitud</td>
                  <td>Longitud</td>
                  <td>Fecha de creación</td>
                  <td>Fecha de actualización</td>
                  <td>Acciones</td>
                </thead>
                <tbody>
                  <tr *ngFor="let address of addresses">
                    <td>{{ address.id }}</td>
                    <td>{{ getUserName(address.user_id) }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.number }}</td>
                    <td>{{ address.latitude }}</td>
                    <td>{{ address.longitude }}</td>
                    <td>{{ address.created_at | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ address.updated_at | date: 'dd/MM/yyyy' }}</td>
                     <td>
                      <button class="btn btn-info btn-sm" (click)="view(address.id)" title="Ver">
                        <i class="material-icons">visibility</i>
                      </button>
                      <button class="btn btn-warning btn-sm" (click)="edit(address.id)" title="Editar">
                        <i class="material-icons">edit</i>
                      </button>
                      <button class="btn btn-danger btn-sm" (click)="delete(address.id)" title="Elminar">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
