<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Usuarios</h3>
                    <button class="btn btn-success" (click)="create()">Crear</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Contraseña</td>
                            <td>Acciones</td>
                        </tr>
                        <tr *ngFor="let user of users">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.password}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="view(user.id)">Ver</button>
                                <button class="btn btn-primary" (click)="edit(user.id)">Editar</button>
                                <button class="btn btn-danger" (click)="delete(user.id)">Eliminar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>