@import '../role-permission.styles.scss';

/* Add any specific styles for the manage component here */
.full-width {
  width: 100%;
}

.pull-right {
  float: right;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
} 