@import '../permission.styles.scss';

/* Add any specific styles for the list component here */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.btn-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
} 