<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode == 1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode == 2">Crear</h3>
          <h3 class="mb-0" *ngIf="mode == 3">Actualizar</h3>
        </div>
        <div class="row flex-column flex-md-row">
          <div class="card-body col-12 col-md-6">
            <form class="form" [formGroup]="theFormGroup">
              <div class="card-body container">
                <div class="row">
                  <div class="col-3">ID</div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="id"
                      disabled
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">Usuario</div>
                  <div class="col-9">
                    <select class="form-control" formControlName="user_id">
                      <option value="">Seleccione un usuario</option>
                      <option *ngFor="let user of users" [value]="user.id">
                        {{ user.name }}
                      </option>
                    </select>
                    <div
                      *ngIf="userHasAddressWarning"
                      class="alert alert-warning mt-2"
                      role="alert"
                    >
                      ⚠️ Este usuario ya tiene una dirección registrada.
                    </div>

                    <div
                      *ngIf="
                        getTheFormGroup.user_id.errors &&
                        (getTheFormGroup.user_id.dirty ||
                          getTheFormGroup.user_id.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.user_id.errors.required"
                        class="msnError"
                        >Requerido</strong
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">Calle</div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="street"
                    />
                    <div
                      *ngIf="
                        getTheFormGroup.street.errors &&
                        (getTheFormGroup.street.dirty ||
                          getTheFormGroup.street.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.street.errors.required"
                        class="msnError"
                        >Requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.street.errors.minlength"
                        class="msnError"
                        >Inválido</strong
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">Número</div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="number"
                    />
                    <div
                      *ngIf="
                        getTheFormGroup.number.errors &&
                        (getTheFormGroup.number.dirty ||
                          getTheFormGroup.number.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.number.errors.required"
                        class="msnError"
                        >Requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.number.errors.minlength"
                        class="msnError"
                        >Inválido</strong
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">Latitud</div>
                  <div class="col-9">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="latitude"
                    />
                    <div
                      *ngIf="
                        getTheFormGroup.latitude.errors &&
                        (getTheFormGroup.latitude.dirty ||
                          getTheFormGroup.latitude.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.latitude.errors.required"
                        class="msnError"
                        >Requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.latitude.errors.minlength"
                        class="msnError"
                        >Inválido</strong
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">Longitud</div>
                  <div class="col-9">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="longitude"
                    />
                    <div
                      *ngIf="
                        getTheFormGroup.longitude.errors &&
                        (getTheFormGroup.longitude.dirty ||
                          getTheFormGroup.longitude.touched ||
                          trySend)
                      "
                    >
                      <strong
                        *ngIf="getTheFormGroup.longitude.errors.required"
                        class="msnError"
                        >Requerido</strong
                      >
                      <strong
                        *ngIf="getTheFormGroup.longitude.errors.minlength"
                        class="msnError"
                        >Inválido</strong
                      >
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-9">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      (click)="back()"
                    >
                      Regresar
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-block"
                      (click)="create()"
                      *ngIf="mode == 2"
                    >
                      Crear
                    </button>
                    <button
                      type="button"
                      class="btn btn-warning btn-block"
                      (click)="update()"
                      *ngIf="mode == 3"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0 flex-column d-flex align-items-center">
            <div id="map" style="height: 300px; width: 95%; border-radius: 10px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
